/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
	margin: 10px;
	display: inline-block;
}

.ficha {
	background-color: rebeccapurple;
	color: white;
	border-radius: 5px;
	box-sizing: border-box;
	display: inline-block;
	font-weight: bold;
	min-width: 55px;
	padding: 20px;
	cursor: pointer;
}

/* flip the pane when hovered */
.flip-container.is-flipped .flipper {
   transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 55px;
	height: 58px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	background-color: white;
	color: black;
	cursor: default;
	box-shadow: 0 0 3px #CCC;
}